*{
  margin: 0;
  padding: 0;
}

/* ヘッダー部分のスタイル */

header {
  background-color: #fafafa;
  width: 96%;
  height: 5%;
  padding: 1% 2%;
  position: absolute;
  z-index: 1;
  display: flex;
}

.header-Nav {
  display: flex;
  align-items: center;
  margin-left: 3%;
}

.header-Nav ul{
  list-style: none;
  padding: 0;
  display: flex;
}

.header-Nav li {
  margin: 5%;
}

.user-Icon {
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* ーーー */

main {
  position: absolute;
  top: 10%;
}